html{
  background-color: #f6ecf8;
}
.wrapper{
  position: relative;
  height: 100%;
  width: 770px;
  margin: 0 auto;
}


.container{
  margin: 0 auto;
}

.board{
    background-color: #ccff66;
    height: 400px;
    width: 300px;    
    position: absolute;
    top: 150px; 
    left: 30%;   
    margin: 0px auto;
}

.button {
    background-color: #03A9F4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 150px;
}

.button:active {
  background-color: #35befd;
  transform: translateY(1px);
}

.button:disabled{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.button-disabled {
    background-color: lightgrey;    
}

.turn1{
  position: absolute;
  top: 120px;
  left: 50px;
  width: 50px;
}

.turn2{
  position: absolute;
  top: 120px;
  right: 160px;
  width: 50px;
}

.nextTurn{
  position: absolute;
  top: 70px;
  left: 305px;  
  background-color: #03A9F4;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 150px;
}

.nextTurn:active {
  background-color: #e0e0d1;
  transform: translateY(1px);
}

.blocked{
  pointer-events: none;
}

.margin {
  margin: 5px 0 0 25px;
}

.cell {
  float: left;
  height: 100px;
  width: 100px;
  box-sizing: border-box;
  border: 1px solid  #E1BEE7;
}

.cell:hover{
  border: 1px solid #7B1FA2;
}

.blocked{
  pointer-events: none;
}

.player1{
  background-color: lightseagreen;
}

.player2{
  background-color: lightcoral;
}

.h1-class{
  color: black;  
  margin: 30px 0 0 40px;
}