.container{
    background-color: #ccff66;
    height: 500px;
    width: 500px;
    margin: 0px auto;
}

.margin {
  margin: 5px 0 0 25px;
}

.cell {
  float: left;
  height: 100px;
  width: 100px;
  box-sizing: border-box;
  border: 1px solid lightblue;
}

.cell:hover{
  border: 1px solid black;
}

.blocked{
  pointer-events: none;
}

.player1{
  background-color: lightseagreen;
}